.container{
	background-color:#FFFDE7;
	border: 1px solid #9E9E9E;

}
h1{
	width:90%;
	margin:15px auto;
	background-color:#FFD9E6 ;
	text-align:center;
	color: red;

}
p{
	font-style:italic;
	text-align:center;

}
.blue{
	color: #0033CC ;
	

}
.red{
	color:#D40000 ;
}
hr{
	width:50%;
	color:#0033CC ;
}