body{
	background-color:#7ec8e3;
}
.container{
	
	background-color:white;
	width: 80%;
	margin: auto;

}
img{
	float: right;
	margin-right: 20px;
	width: 40%;

	
	

}
h1{
	background-color: #0b3d5c;
	font-family:#FFFFFF;
	border-radius: 5px;
}